body {
	background-color: #fff;
}
* {
	font-family: "Montserrat", sans-serif;
}

h1,
h1 * {
	font-family: "Prata", serif;
}
.button-87 {
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border-radius: 10px;
	display: block;
	border: 0px;
	font-weight: 600;
	box-shadow: 0px 0px 14px -7px #f09819;
	background-image: linear-gradient(45deg, #ff512f 0%, #f09819 51%, #ff512f 100%);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-87:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.button-87:active {
	transform: scale(0.95);
}

/* CSS */
.button-85 {
	padding: 0.6em 1em 0.6em 2.3em;
	border: none;
	outline: none;
	color: rgb(255, 255, 255);
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-85:before {
	content: "";
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing-button-85 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

@keyframes glowing-button-85 {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.button-85:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222;
	left: 0;
	top: 0;
	border-radius: 10px;
}

#srchart .apexcharts-tooltip {
	color: #000000;
}

#srchart .apexcharts-tooltip .apexcharts-tooltip-series-group.active {
	background: #ffffff !important;
}

.apexcharts-tooltip {
	background-color: #12094e !important; /* Custom background color */
	color: #fff !important; /* Custom text color */
	border-radius: 5px !important; /* Custom border radius */
	padding: 10px !important; /* Custom padding */
	font-size: 14px !important; /* Custom font size */
	border: none !important;
}

/* Tooltip title (date) */
.apexcharts-tooltip-title {
	font-weight: bold !important;
	background-color: #12094e !important;
	border-color: #12094e !important;
}

.strike-through,
.strike-through * {
	text-decoration: line-through !important;
	text-decoration-thickness: 2px !important;
}
.aside-sel {
	background-image: url("https://www.frogment.com/images/grunge-underline.svg");
	background-repeat: no-repeat;
	background-size: 100px 10px;
	background-position: 45px 20px;
	animation: grow-from-left 0.3s ease-in-out;
}

@keyframes grow-from-left {
	0% {
		background-size: 0px 10px;
	}
	100% {
		background-size: 100px 10px;
	}
}

.typewriter input {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	white-space: nowrap; /* Keeps the content on a single line */
	animation: typing 3.5s steps(60, end);
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
